form {
    background-color: rgb(100, 183, 255);
    border: solid black; 
    text-align: center;
    padding: 5px;
    width: 80em;
    height: 40em;
    margin: auto;
}

.boxes {
    background-color: white;
    border: white;
    width: 300px;
}

p1 {
    width: 500px;
    color: black;
    text-align: left;
}